@font-face {
    font-family: kaiti;
    src: url("kaiti.ttf");
}
@font-face {
    font-family: katong;
    src: url("katong.ttf");
}
@font-face {
    font-family: lishu;
    src: url("lishu.ttf");
}
@font-face {
    font-family: tiaotiao;
    src: url("tiaotiao.ttf");
}
